<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tr.myinvestments">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/assetsicon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/assetsicon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InvestmentList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClosePosition"></activity>
        <activity android:name=".Graphic"></activity>
    </application>

</manifest>